{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Django</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, delectus molestiae. Asperiores accusantium pariatur laudantium minima voluptatibus, doloremque ex voluptatum sequi quis provident fuga nemo accusamus vel est non, itaque adipisci quibusdam esse ratione. Blanditiis temporibus quisquam quae maxime sit a eius at, fugit, nobis placeat quibusdam mollitia magni ut dolor? Nisi omnis natus soluta commodi dignissimos vitae, quos voluptas cumque ad aliquam sed enim libero odio facere illo aut eius incidunt deleniti, reprehenderit necessitatibus, impedit corporis laboriosam saepe mollitia. Fugiat placeat laborum repellat nisi facilis velit quia in doloribus, ea dicta fugit illum laudantium culpa beatae perferendis eius earum!
        </p>
        <div class="text-center">
            <a class="btn btn-success text-center" href="/signin">
                Signin
            </a>
            <a class="btn btn-success text-center" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}